/.idea/.idea.Models-and-Data-Structures_Labs/.idea/.gitignore
/Lab_1/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/.idea/.idea.Models-and-Data-Structures_Labs/.idea/encodings.xml
/.idea/.idea.Models-and-Data-Structures_Labs/.idea/indexLayout.xml
/Lab_1/obj/Debug/net9.0/Lab_1.AssemblyInfo.cs
/Lab_1/obj/Debug/net9.0/Lab_1.AssemblyInfoInputs.cache
/Lab_1/obj/Debug/net9.0/Lab_1.assets.cache
/Lab_1/Lab_1.csproj
/Lab_1/obj/Lab_1.csproj.nuget.dgspec.json
/Lab_1/obj/Lab_1.csproj.nuget.g.props
/Lab_1/obj/Lab_1.csproj.nuget.g.targets
/Lab_1/obj/Debug/net9.0/Lab_1.GeneratedMSBuildEditorConfig.editorconfig
/Lab_1/obj/Debug/net9.0/Lab_1.GlobalUsings.g.cs
/Models-and-Data-Structures_Labs.sln
/Lab_1/obj/project.assets.json
/Lab_1/obj/project.nuget.cache
/Lab_1/obj/project.packagespec.json
/.idea/.idea.Models-and-Data-Structures_Labs/.idea/projectSettingsUpdater.xml
/Lab_1/obj/rider.project.restore.info
/.idea/.idea.Models-and-Data-Structures_Labs/.idea/vcs.xml
/.idea/.idea.Models-and-Data-Structures_Labs/.idea/workspace.xml
